@media (max-width: 75em) {
	html {
		font-size: 60%;
	}
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	font-family: "JetBrains Mono", monospace;
}

h1 {
	font-size:3rem;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

.nav {
	display: flex;
	justify-content: flex-start;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(250, 250, 250);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.nav-list {
	display:flex;
	margin-right: 2rem;
}

.nav-list a {
	display: block;
	font-size: 1.3rem;
	padding: 1rem;
}

.nav-list a:hover {
	background: rgba(0, 0, 0, 0.4);
}

.welcome-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.welcome-section > p {
	font-size: 1.3rem;
}

.project-section {
	justify-content: center;
	text-align: center;
}

.project-section-title {
	display: flex;
	justify-content: center;
	padding: 2% 10% 6% 10%;
}

.projects-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 4rem;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	margin-bottom: 6rem;
}

.project-image {
	height: calc(100% - 6rem);
	width: 100%;
	object-fit:contain;
}

.project-tile {
	background: rgba(250, 250, 250);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
}

.project project:hover {
	border-radius: 4px;
}

#name {
	display:flex;
}